<!-- Create one table row per blueprint in the book. -->
<%= for (bp) in blueprint.BlueprintBook.BlueprintReferences { %>
<tr>
    <td class="tg-0lax name"><%= bp.Blueprint.Label %></td>
    <td class="tg-0lax icons">
        <div class="bookimg">
            <%= for (icon) in bp.Blueprint.Icons { %>
            <img src="<%=assetPath() %>/images/icons/<%= icon.Signal.Type %>/<%= icon.Signal.Name %>.png"/>
            <% } %>
        </div>
    </td>
    <td class="tg-0lax entities">
        <div>
            <%= for (entity, amount) in bp.Blueprint.TotalEntities() { %>
            <img src="<%=assetPath() %>/images/icons/<%= entity %>.png"/><span><%= amount %></span>
            <% } %>
        </div>
    </td>
</tr>
<% } %>