<tr>
    <td class="tg-0lax name"><%= entry.Blueprint.Label %></td>
    <td class="tg-0lax icons">
        <div class="bookimg">
            <%= for (icon) in entry.Blueprint.Icons { %>
            <img src="<%=assetPath() %>/images/icons/<%= icon.Signal.Type %>/<%= icon.Signal.Name %>.png"/>
            <% } %>
        </div>
    </td>
    <td class="tg-0lax entities">
        <div>
            <%= for (entity, amount) in entry.Blueprint.TotalEntities() { %>
            <img src="<%=assetPath() %>/images/icons/<%= entity %>.png"/><span><%= amount %></span>
            <% } %>
        </div>
    </td>
</tr>