<form id="search" role="search" action="/search" accept-charset="UTF-8">
    <div id="filters">
        <div id="type-filter" class="select">
            <select name="version">
                <option value="blueprints" selected>Blueprints</option>
                <option value="map seeds" disabled>Map seeds</option>
            </select>
        </div>
        <div id="version-filter" class="select">
            <select name="version">
                <option value="" selected disabled>Version</option>
                <%= for (version) in versions { %>
                <option value="<%= version %>"><%= version %></option>
                <% } %>
            </select>
        </div>
        <div id="label-filter" class="select">
            <select name="label">
                <option value="" selected disabled>Label</option>
                <%= for (label) in labels { %>
                <option value="<%= label %>"><%= label %></option>
                <% } %>
            </select>
        </div>
    </div>
    <div id="search-bar">
        <input type="search" name="query" placeholder="Search">
        <input type="submit" value="Search">
    </div>
    <div id="sorters">
        <div id="sortby" class="select">
            <select name="Sort by">
                <option value="" selected disabled>Sort by</option>
                <option value="favorites">Favorites</option>
                <option value="latest">Latest</option>
                <option value="alphabetical">Name</option>
            </select>
        </div>
    </div>
</form>
<br clear="both"/>
<hr>